<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Calculator</title>
    <link rel="stylesheet" href="Stylesheet.css">

</head>
<header>
    <h1 class="heading">EMI Calculator</h1>
</header>
<body>
    <div>
        <div class="break"> Break-up Total Payment</div>
       
    </div>
    
    <div class="loan">Loan Amount</div>
    <div class="emi">Loan EMI</div> 
    
    <form class="rs">
    <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="EMI Rs">
</form>
    <form class="amount">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Enter your loan amount">
    </form>
    <div class="rate">Interest Rate</div>
    <div class="able">Total Interest Payable</div>
    <form class="pay">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Interest Rs">
    </form>
    <form class="interest">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Enter Interest Rate">
    </form>
    <div>Loan Tenure</div>
    <div class="nts">
    <div>Total of Payments </div>
    <div>(Principal+Interest)</div>
    </div>
    
    <form class="erest">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Rs">
    </form>
    
    
        <button class="btn">Yr</button>
        <button class="mo">Mo</button>
        
        
        
    <button class="culat">Enter</button>
    <!--<div ng-app="">

        <p ng-show="true">I am visible.</p>
        
        <p ng-show="false">I am not visible.</p>
        
        </div>
        <div ng-show="showMe">
            <h1>Menu:</h1>
            <div>Pizza</div>
            <div>Pasta</div>
            <div>Pesce</div>
          </div>
          <form>
            Pick a topic:
            <input type="radio" ng-model="myVar" value="dogs">Dogs
            <input type="radio" ng-model="myVar" value="tuts">Tutorials
            <input type="radio" ng-model="myVar" value="cars">Cars
          </form>
          <form name="myForm">
            <input name="myInput" ng-model="myInput" required>
          </form>
          <div ng-app="myApp" ng-controller="myCtrl">
            <p>{{ x1 }}</p>
            <p>{{ x2 }}</p>
          </div>
          
          <script>
          var app = angular.module('myApp', []);
          app.controller('myCtrl', function($scope) {
            $scope.x1 = "JOHN";
            $scope.x2 = angular.isNumber($scope.x1);
          });
          </script>
          <script>
            var app = angular.module("myShoppingList", []);
            app.controller("myCtrl", function($scope) {
              $scope.products = ["Milk", "Bread", "Cheese"];
              $scope.addItem = function () {
                $scope.products.push($scope.addMe);
              }
            });
            </script>-->
            
          
    
    <footer class="net">emicalculator.net</footer>
   
    
    <script>src="Students.js"</script> 
</body>
    

</body>

</html> 